body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E3E4FA;
}

.scoreButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

.scoreButton:hover {
  background-color: #45a049;
}

.wicketButton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

.submitButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

.inputField {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
}